// sizes
@import "core/font";

//style
@import "core/table";

//color
@import "core/color";

//reset
@import "core/reset_input";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


